#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  margin-left:5px;
  margin-right: 5px;
}

.username{
  font-size: 20px;
  font-weight: bold;
}

h1 {
  color: white;
  font-family: 'Rubik Vinyl', cursive;
}

.yardForm {
  width: 600px;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 25px;
}

.titles {
  float: left;
}

.inputs {
  float: right;
  width: 300px;
  margin-left: 10px;
}

p {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  font-weight: bold;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.rent{
  color: #c3073f;
}

.gifHome {
  width: 300px;
}
.deleteBtn{
  font-size: 15px;
  
  color: white;

}
.deleteBtn:hover{
  font-size: 15px;
  color: #c3073f;
 
}

nav{
  background-color: #1a1a1a;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid white;
  margin-bottom: 25px;
}

i {
  /* margin-left: -30px;  */
  cursor: pointer;
}

input {
  width: 300px;
  height: 25px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  margin-left: -30px; 
}

.previewImage{
  width: 100px;
}

.emailInput{
  margin-left: -50px;
}

.fa-eye{
  margin-left: -30px;  
}

.fa-eye:hover{
  color: #c3073f;
}

.eye{
  margin-right: 12px;
}

.editProfile{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.emailInputAndIcon{
  margin-left: 15px;
}

.yardDetails {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.editInputUpdate {
  width: 250px;
}

p b {
  color: #c3073f;
}

.listingImages{
  width: 100px;
  transition: 0.5s all ease-in-out;
}


.homeImage{
  width: 100%;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
}



.homeImage:hover{
content: url('./assets/logoImg.png');
width: 571px;
}
.userLoggeIn{
margin-left: 420px;  
}

.logoOutBtn{
  background-color: white;
  color: black;
}

.map {
  width: 60vw;
}

.popInfo{
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.titleSpace{
  margin-left: 10px;
}
.listingImages:hover{
  transform: scale(2);
}

.yardRent {
  margin-left: 230px;
}

.titleYardToRent{
  text-decoration: none;
  color: white;
}
.signUpPassword{
  margin-right: 10px;
}

hr{
  width: 200px;
}

.userEditDiv {
  width: 600px;
  border: 1px solid white;
  border-radius: 25px;
}

/* .logImage{
  width: 100px;
  position: absolute;
  margin-bottom: 50px;
}

.rentMyYard{
  display: flex;
  position: relative;
} */